<header class="header trans_300">
  <div class="main_nav_container">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-right">
          <div class="logo_container">
            <a href="#">colo<span>shop</span></a>
          </div>
          <nav class="navbar">
            <ul class="navbar_menu">
              <li><a href="<?php echo "http://localhost/MVC/"; ?>">Home</a></li>

              <li><a href="produit.php">Produits</a></li>
              <li><a href="promotion.php">Promotion</a></li>
              <li> <form method="post" action="recherche.php">

              <input size='30' type="text" name="recherche" class=" auto-save form-control"   placeholder="Rechercher un produit " ></li>

              <li><button class='btn btn-danger' style="width: 60px; background: #fe4c50" type="submit"><i class="fa fa-search"  aria-hidden="true"></i></button>
              </li>
                </form>
            </ul>
            <ul class="navbar_user">

            </ul>
            <div class="hamburger_container">
              <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>

</header>
